body {
  background-color: #343a40;
}
#movies {
  place-content: center;
  max-width: 100%;
}
#movie-images {
  max-width: 90%;
}

#style-description {
  font-size: x-small;
  font-weight: 500;
}

#learn-more {
  font-size: x-small;
  font-weight: 600;
}
